.front-carousel {
    width: 100vw;
    height: 45vh;
    /* background: black; */
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4em;
  }
  
  .front-carousel-icon {
    position: absolute;
    top: 35%;
    width: 25px;
  }
  

  @media (min-width: 800px) {
    .front-carousel {
      height: 90vh;
      width: 100%;
    }
  
    .front-carousel-icon {
      top: 50%;
    }
}
