.front-carousel {
    width: 100vw;
    height: 45vh;
    /* background: black; */
    position: relative;
  }
  
  .front-carousel-icon {
    position: absolute;
    top: 35%;
    width: 25px;
  }
  

  @media (min-width: 800px) {
    .front-carousel {
      margin-top: -5em;
      height: 100vh;
      width: 100%;
      /* width: 70vw; 
          margin: 0 auto;   */
    }
  
    .front-carousel-icon {
      top: 50%;
    }
}
