.main-container {
  position: relative;
  width: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-container {
  position: relative;
  width: 100%;
}

.ticket {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
}

.ticket-animation {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  animation: spin 3s forwards;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(180deg);
  }
  20% {
    transform: rotateY(360deg);
  }
  30% {
    transform: rotateY(540deg);
  }
  100% {
    transform: rotateY(900deg);
  }
}

.ticket-back {
  transform: rotateY(180deg);
}
.ticket-front,
.ticket-back {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.email-input {
  display: flex;
  flex-direction: column;
  position: absolute;
}
