@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Jost:wght@200;300;400&display=swap");


.error-msg {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ba7e36;
}
.admin-landing-page {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
.admin-options-header {
  color: white;
  font-weight: 300;
  margin-top: -1em;
  font-size: 1.8rem;
}
.options-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.option {
  border: 1px solid #ba7e36;
  text-align: center;
  flex: 1 1 15em; 
  padding: 1em 1em;
  border-radius: 10px;
  box-shadow: 0px 5px 10px black;
}
.options-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ba7e36;
}
.close-ref-btn {
  background-color: #C699EA;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 0.5rem;
  margin-bottom: 2em;
}
.close-ref-btn:focus {
  outline: none;
}
.dialog {
  width: 65%;
  padding: 1em 2em;
  background-color: #ba7f3600;
  backdrop-filter: blur(8px);
  border: 1px solid #ba7e36;
  border-radius: 10px;
}
