.theater {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333; 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movie-screen {
    margin-left: 8px;
    width: 95%; 
    height: 120px; 
    background-color: #fff; 
    border-radius: 10px;
    margin-bottom: -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transform-origin: center top;
    transform: perspective(500px) rotateX(-45deg);
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.7);
    filter: brightness(1.1);  
}

.movie-screen::before, .movie-screen::after, .movie-screen .drape-left, .movie-screen .drape-right {
    content: "";
    position: absolute;
    top: -5%; 
    bottom: -5%;
    width: 30%; 
    z-index: 1;
}

.movie-screen::before, .movie-screen::after, .movie-screen .drape-left, .movie-screen .drape-right {
    content: "";
    position: absolute;
    top: -5%; 
    bottom: -5%;
    width: 30%; 
    z-index: 1;
}


.movie-screen::before, .movie-screen::after {
    background: rgb(131, 10, 10);
    z-index: 0;
}

.movie-screen .drape-left, .movie-screen .drape-right {
    background: 
        repeating-linear-gradient(
            to bottom, 
            rgb(70, 10, 73) 0%, 
            rgb(70, 10, 73) 5%, 
            rgb(121, 3, 3) 5%, 
            rgb(121, 3, 3) 10%
        );
    background-size: 100% 20px;
}

.movie-screen .drape-left {
    left: -40%; 
    transform: skewY(-5deg) scaleX(1.1);
    clip-path: path('M 100% 0 Q 90% 50% 100% 100%'); 
}

.movie-screen .drape-right {
    right: -20%; 
    transform: skewY(5deg) scaleX(1.1);
    clip-path: path('M 0 0 Q 10% 50% 0 100%');
}


.movie-screen::before, .movie-screen .drape-left {
    left: -20%; 
    transform: skewY(-5deg);
}

.movie-screen::after, .movie-screen .drape-right {
    right: -20%; 
    transform: skewY(5deg);
}

.movie-screen::before {
    box-shadow: 8px 5px 15px rgba(0, 0, 0, 0.5); 
}

.movie-screen::after {
    box-shadow: -8px 5px 15px rgba(0, 0, 0, 0.5); 
}

.images {
    height: 200px;
}

h2 {
    display: flex;
    justify-content: center;
    color: #BA7E36;
}

h3 {
    color: #C699EA;
}

.ticket-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    width: 200px;
    color: #C699EA;
    margin-left: 25vw;
}

.ticket-counter-arrow-plus {
    color: #C699EA;
    font-size: 1.5rem;
}

.ticket-counter-arrow-minus {
    margin-left: 15px;
    color: #C699EA;
    font-size: 1.5rem;
}
  
  
  .ticket-counter-value {
    margin: 0 15px;
    font-size: 1.5rem;
  }

.seats-grid {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100vw;
}

.seats-grid button {
    width: 7.7vw; 
    height: 4.3vh; 
    padding: 5px; 
    margin: 1.3px; 
 }

 .row {
    display: flex;
    justify-content: center; 
    padding: 1.5px;
}

.book-button {
    margin-left: 36vw;
    margin-top: 10px;
}

.total-amount {
    display: flex;
    justify-content: center;
}

.clear-button {
   margin-left: 30%;
}

.dropdown-container {
    margin-bottom: 10px; 
    width: 80%;          
    margin-left: auto;  
    margin-right: auto;  
    display: block;      
  }

  .input-error {
    border: 2px solid red;
  }

  .custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}


@media (min-width: 768px) { 

    .theater {
        justify-content: center; 
    }

    .movie-screen {
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
        height: 250px; 
    }

    .ticket-counter-container {
        margin-left: auto;
        margin-right: auto;
    }

    .seats-grid {
        width: 100vw; 
        align-items: center; 
    }

    .seats-grid button {
        width: 55px; 
        height: 50px; 
        padding: 10px; 
        margin: 7px; 
     }

    .total-amount {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5vh;
    }

    .book-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }
    
    .clear-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-weight: 300;
        font-size: 2.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-container {
        margin-bottom: 10px; 
        width: 15%;          
        margin-left: auto;  
        margin-right: auto;  
    }
}

.input-error {
    border: 2px solid red;
  }

  .custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}