.change-pw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20em;
  height: 100vh;
}
.change-pw-header {
  color: #ba7e36;
}
.change-pw-second_header {
  margin: -0.5em 0 2em 0;
  color: #c699ea;
}
.err-message {
  max-width: 768px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #b85252;
  box-shadow: 0 10px 15px #fb69691e;
}
.succ-message {
  max-width: 768px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #52b867;
  box-shadow: 0 10px 15px #fb69691e;
}
.change-pw-form {
  display: flex;
  flex-direction: column;
}
.lbl {
  margin-left: 0.3em;
}
.change-pw-btn {
  margin-top: 1em;
}
