@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Jost:wght@200;300;400&display=swap");
/* font-family: 'Alegreya', serif;
font-family: 'Jost', sans-serif; */

h2,
h3 {
  font-family: "Jost", sans-serif;
}

h3 {
  text-decoration: underline;
}
