
.register-wrapper {
  z-index: 1001;
  width: 90%;
  height: calc(100vh - 4em);
  display: flex;
  margin: 0 auto;
  margin-top: 4em;
  box-sizing: border-box;
}

.right-section {
  display: none;
}

.register-wrapper .left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.welcome-text {
  color: #c699ea;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.register-wrapper .login-lbl {
  font-size: 14px;
  font-weight: 600;
  color: #c699ea;
  margin-bottom: 2px;
}

.register-wrapper .login-field {
  background-color: #2d142e;
  color: #c699ea;
  height: 36px;
  padding: 0 8px;
  font-size: 16px;
  border: 1px solid #c699ea;
  border-radius: 8px;
}

.register-wrapper .first {
  margin-bottom: 8px;
}

.register-p {
  color: #ba7e36;
  align-self: flex-end;
  margin-top: 8px;
}

.register-p-link {
  color: #ba7e36;
}

.register-p-link:hover {
  color: #e0a966;
}

.login-field:focus {
  outline: none;
  border: 2px solid #ba7e36;
}

.login-field::placeholder {
  color: #c699ea5e;
}

.login-field:-webkit-autofill {
  -webkit-text-fill-color: #c699ea;
  -webkit-box-shadow: 0 0 0px 1000px #2d142e inset !important;
}

.register-msg {
  max-width: 768px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #b85252;
}

.btn-container {
  width: 100%;
  max-width: 768px;
  padding: 0 8px;
}

.copyright {
  font-size: 14px;
  color: #C699EA;
}

@media (min-width: 1200px) {

  .register-wrapper .left-section {
    width: 50%;
    gap: 0;
    align-items: center;
  }

  .right-section {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .login-bg {
    background-image: url(../assets/img/filmvisarna-bg.png);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 90%;
    border-radius: 16px;
  }

  .form-container {
    max-width: 600px;
  }

  .first {
    margin: 0;
  }

  .btn-container {
    max-width: 600px;
  }
}
