
.register-wrapper {
  z-index: 1001;
  height: 100vh;
  width: 90%;
  margin: 0 auto; 
  display: flex;
}

.right-section {
  display: none;
}

.register-wrapper .left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5%;
  height: 100vh;
  width: 100%;
}

.login-header {
  width: 100%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  background-image: url(../assets/FilmvisarnaLogoTwo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 86px;
}

.welcome-text {
  color: #c699ea;
  font-size: 24px;
  font-weight: 400;
}

.form-container {
  width: 100%;
  max-width: 768px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.login-lbl {
  font-size: 16px;
  font-weight: 500;
  color: #c699ea;
  margin-bottom: 8px;
}

.login-field {
  background-color: #2d142e;
  color: #c699ea;
  height: 44px;
  padding: 0 8px;
  font-size: 16px;
  border: 1px solid #c699ea;
  border-radius: 8px;
}

.first {
  margin-bottom: 16px;
}

.register-p {
  color: #ba7e36;
  align-self: flex-end;
  margin-top: 8px;
}

.register-p-link {
  color: #ba7e36;
}

.register-p-link:hover {
  color: #e0a966;
}

.login-field:focus {
  outline: none;
  border: 2px solid #ba7e36;
}

.login-field::placeholder {
  color: #c699ea5e;
}

.login-field:-webkit-autofill {
  -webkit-text-fill-color: #c699ea;
  -webkit-box-shadow: 0 0 0px 1000px #2d142e inset !important;
}

.login-msg {
  color: rgb(182, 37, 71);
  font-size: 16px;
}

.btn-container {
  width: 100%;
  max-width: 768px;
  padding: 0 8px;
}

.copyright {
  font-size: 14px;
  color: #C699EA;
}

@media (min-width: 1200px) {

  .register-wrapper .left-section {
    width: 50%;
  }

  .right-section {
    display: block;
    width: 50%;
    height: 100vh;
    padding: 24px;
  }

  .login-bg {
    background-image: url(../assets/filmvisarna-bg.png);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .form-container {
    max-width: 600px;
  }

  .btn-container {
    max-width: 600px;
  }
}
