.screenings-list-container{
    font-family: "Jost", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}
.screenings-list{
    margin: 5%;
    display: flex;
    align-items: baseline;
}
.screenings-selectors{
    width: 23.5%;
    background-color: #D9D9D9;
    border-radius: 5px;
    color: black;
    font-size: medium;
    margin: auto;
}
.return-container{
    margin-top: 5em;
}
.screenings-p{
    color: #BA7E36;
}
.date-title{
    color: #BA7E36;
    font-size: 2em;
}
.list-movie-title, .screenings-p{
    width: 25%;
    margin: 0px auto;
}
.seperator{
    margin: auto;
    height: 2px;
    width: 95%;
    background-color: #BA7E36;
}
.main-btn-color{
    background-color: #C699EA;
    color: #150316;
    width: 5em;
    height: 2em;
    padding:0px;
    margin: auto;
}
.sec-btn{
    width: 100%;
    margin-top: 20px;
    background-color: #8027CE;
    color: #C699EA;
}
.main-text-title{
    color: #BA7E36;
    text-align: center;
    width: 350px;
    margin-top: -2em;
    font-weight: 100;
    font-size: 2em;
}
.filters-containers{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
.Laddar{
    height: 100vh;
}
.link-color{
    color:#C699EA;
    font-size: larger;
}
.movie-poster-img{
    display: none;
}
.desktopvye{
    display: none;
}
.links-container{
    width: 20%;
}
.list-item-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.date-container{
    margin-left: 3em;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 4.5em;
}
.date-dates{
    width: 6em;
    margin: 0px auto;
    font-size: x-large;
}
.list-movie-title{
    margin: 0;
}
.screenings-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}
@media (max-width: 350px){
    .date-container{
        margin-left: 1em;
    }
    .main-text-title{
        margin: auto;
        width: 250px;
    }
}
@media (min-width: 600px){
    .date-container{
        margin-left: 3em;
    }
    .main-text-title{
        width: 500px;
    }
    .screenings-selectors{
        width: 23.5%;
    }
}
@media (min-width: 768px){
    .date-container{
        margin-left: 3em;
    }
    .return-container{
        margin: auto;
        width: 750px;
        margin-top: 5em;
    }
    .main-text-title{
        width: 700px;
    }
    .movie-poster-img{
        height: 10em;
        margin: auto;
        display: flex;
    }
    .list-movie-title{
        font-size: 1.5em;
        width: 90%;
        margin-top: 0px;
    }
    .screenings-p{
        width: 90%;
    }
    .screenings-list{
        flex-direction: row;
        justify-content: space-between;
    }
    .list-item-container{
        flex-direction: column;
        width: 60%;
        display: flex;
        margin: auto 0;
    }
    .desktopvye{
        display: flex;
    }
    .main-btn-color{
        width: 7em;
        height: 2em;
    }
    .visa-mer{
        width: 4em;
        margin-top: 30%;
        color:#BA7E36;
        margin-left: auto;
    }
    .screenings-list{
        margin: 2em;
        display: flex;
        align-items: baseline;
    }
    .link-container{
        margin: auto;
    }
    .screenings-info-container{
        margin-top: .5em;
    }
}
@media  (min-width: 1000px){
    .date-container{
        margin-left: 4em;
    }
    .return-container{
        width: 900px;
    }
}
@media  (min-width: 1500px){
    .date-container{
        margin-left: 6em;
    }
    .return-container{
        width: 1200px;
    }
}