.screenings-list-container {
  font-family: "Jost", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 20px;
}
.screenings-list {
  margin: 5%;
  display: flex;
  align-items: baseline;
}
.screenings-selectors {
  width: 23.5%;
  background-color: #d9d9d9;
  border-radius: 5px;
  color: black;
  font-size: medium;
  margin: auto;
}
.return-container {
  margin-top: 5em;
}
.screenings-p {
  color: #ba7e36;
}
.date-title {
  color: #ba7e36;
  font-size: 2em;
}
.list-movie-title,
.screenings-p {
  width: 25%;
  margin: 0px auto;
}
.seperator {
  margin: auto;
  height: 2px;
  width: 95%;
  background-color: #ba7e36;
}
.main-btn-color {
  background-color: #c699ea;
  color: #150316;
  width: 5em;
  height: 2em;
  padding: 0px;
  margin: auto;
}
.sec-btn {
  width: 100%;
  margin-top: 20px;
  background-color: #8027ce;
  color: #c699ea;
}
.main-text-title {
  color: #ba7e36;
  text-align: center;
  width: 350px;
  margin-top: -2em;
  font-weight: 100;
  font-size: 2em;
}
.filters-containers {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.Laddar {
  height: 100vh;
}
.link-color {
  color: #ba7e36;
}
.movie-poster-img {
  display: none;
}
.desktopvye {
  display: none;
}
.links-container {
  width: 20%;
}
.list-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 350px) {
  .main-text-title {
    margin: auto;
    width: 250px;
  }
}
@media (min-width: 600px) {
  .main-text-title {
    width: 500px;
  }
  .screenings-selectors {
    width: 23.5%;
  }
}
@media (min-width: 768px) {
  .return-container {
    margin: auto;
    width: 750px;
    margin-top: 5em;
  }
  .main-text-title {
    width: 700px;
  }
  .movie-poster-img {
    height: 10em;
    margin: auto;
    display: flex;
  }
  .list-movie-title {
    font-size: 1.5em;
    width: 90%;
    margin-top: 0px;
  }
  .screenings-p {
    width: 90%;
  }
  .screenings-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .list-item-container {
    flex-direction: column;
    width: 60%;
  }
  .desktopvye {
    display: flex;
  }
  .main-btn-color {
    width: 7em;
    height: 2em;
  }
  .visa-mer {
    width: 90%;
    margin: 0px auto;
    margin-top: 1.5em;
    color: #ba7e36;
  }
  .screenings-list {
    margin: 2em;
    display: flex;
    align-items: baseline;
  }
}
