@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Jost:wght@200;300;400;500;600;700&display=swap");


.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.seats-grid .selected {
 background-color: yellow; 
}

div#root{
  width: 100%;
}
body{
  background: radial-gradient(circle at center, rgb(70, 10, 73), black);
  width: 100%;
  background-attachment: fixed;
}

