.main-text-title, .date-title{
    color: #BA7E36;
}
.main-text-title{
    text-align: center;
    width: 350px;
    margin: 20px auto;
}
.date-title{
    margin-left: 5%;
}
.iframe-container, .button-container, .text-containers, iframe{
    margin: auto;
    width: 350px;
}
iframe, .iframe-container {
    height: 200px;
}
.text-title{
    color: #DB00FF;
}
body{
    background-color: rgba(21, 3, 22, 1);
    width: 100%;
}
.movieinfo-container{
    margin: auto;
}
.main-btn{
    width: 100%;
    background-color: #C699EA;
    color: #150316;
}
.main-btn-color{
    margin: auto;
    max-height: 50px;
    background-color: #C699EA;
    color: #150316;
}
.sec-btn{
    width: 100%;
    margin-top: 20px;
    background-color: #8027CE;
    color: #C699EA;
}
.seperator{
    margin: auto;
    height: 2px;
    width: 95%;
    background-color: #BA7E36;
}
.screenings-list-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.screenings-list{
    margin: 5%;
    display: flex;
}
.list-movie-title, .screenings-p{
    width: 25%;
    margin: 0px auto;
}
.link-color{
    color:rgb(204, 211, 218);
}
.screenings-selectors{
    width: 25%;
}
.filters-containers{
    display: flex;
    flex-direction: row;
}
div#root{
    width: 100%;
}

@media (min-width: 600px){
    .iframe-container, iframe{
        width: 500px;
        height: 281.25px;
    }
    .text-containers, .button-container, .main-text-title{
        width: 500px;
    }
    .screenings-selectors{
        width: 23.5%;
    }
    .filters-containers{
        padding-left: 5%;
    }
}
@media (min-width: 800px){
    .iframe-container, iframe{
        width: 700px;
        height: 393.75px;
    }
    .text-containers, .button-container, .main-text-title{
        width: 700px;
    }
    .return-container{
        margin: auto;
        width: 800px;
    }
}